@import "../../vendor/twitter/bootstrap/less/bootstrap.less";
@import "../../vendor/twitter/bootstrap/less/responsive.less";
@import "../../packages/shared/less/shared.less";

///////////////
// VARIABLES //
///////////////

@Spacing: 6px;
@AccentColor1: #21409A;
@AccentColor2: #0077b3;
@BackgroundColor1: #2D2D2D;
@BackgroundColor2: #5C5C5C;
@BackgroundColor3: #707070;
@bodyBackground:        @grayDarker;
@textColor:             @white;
@navbarBackgroundHighlight: #F6C422;
@navbarBackground: #F69A22;
@navbarBrandColor: black;
@navbarLinkColorHover: white;
@navbarLinkColor: black;
@navbarLinkColorActive: white;